{% extends 'base.html.twig' %}

{% block title %}Pomelopay Dashboard - Transactions {% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <!-- Modal -->
        <div class="modal fade" id="deleteTransaction" tabindex="-1" role="dialog" aria-labelledby="deleteTransactionTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <form action="{{ path('delete_transaction') }}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteTransactionTitle">Delete Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you wanna delete <strong>transaction id <span id="transactionId"></span></strong>
                        </div>
                        <input type="hidden" id="transactionIdHidden" name="transactionIdHidden"/>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="confirmDelete" value="submit">Submit</button>
                        </div>
                    </div>
               </form>
            </div>
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">View Transactions</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Transactions</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class='table-responsive table-forced-height'>
                    <table id="transaction" class="table table-striped table-bordered" style="width:100%" >
                        <thead>
                        <tr>
                            <td>Transaction Id</td>
                            <td>Currency</td>
                            <td>Amount</td>
                            <td>Status</td>
                            <td>Company Name</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.id }}</td>
                                <td>{{ transaction.currency }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.status }}</td>
                                <td>{{ transaction.company.name }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{{ path('update_transaction', {'id':transaction.id} ) }}" role="button">Update</a>
                                    <a class="btn btn-danger delete-transaction-btn" href="#" data-transactionid = {{ transaction.id }} role="button" data-toggle="modal" data-target="#deleteTransaction">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

   {% block javascripts %}
       {{ parent() }}
       {{ encore_entry_script_tags('transaction') }}

   {% endblock %}
